---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import Link from "@components/Link.astro";
import TableOfContents from "@components/TableOfContents.astro";

export async function getStaticPaths() {
  const assets = (await getCollection("assets"))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return assets.map((asset) => ({
    params: { id: asset.id },
    props: asset,
  }));
}
type Props = CollectionEntry<"assets">;

const asset = Astro.props;
const { Content, headings } = await render(asset);
---

<Layout title={asset.data.title} description={asset.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/assets">Back to assets</BackToPrevious>
    </div>
    <div class="animate my-10 space-y-1">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={asset.data.date} />
        </div>
        &bull;
        {asset.body && (
          <div class="font-base text-sm">
            {readingTime(asset.body)}
          </div>
        )}     
      </div>
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        {asset.data.title}
      </h1>
      {
        (asset.data.downloadURL) && (
          <nav class="flex gap-1">
            {asset.data.downloadURL && (
              <Link href={asset.data.downloadURL} external>
                Get it
              </Link>
            )}
          </nav>
        )
      }
    </div>
    <TableOfContents headings={headings} />
    <article class="animate">
      <Content />
    </article>
  </Container>
</Layout>
