---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Contacts from "@components/Contacts.astro";
import FeaturedContents from "@components/FeaturedContents.astro";

const featuredProjects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft && project.data.featured)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const resources: CollectionEntry<"resources">[] =
  await getCollection("resources");
const assets: CollectionEntry<"assets">[] = await getCollection("assets");
const featuredResources = [...resources, ...assets]
  .filter((item) => item.data.featured)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        Welcome to {SITE.TITLE}!
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                Hi, I'm Ste, a passionate Full-Stack Developer who loves to
                build web apps, websites and games.
              </p>
              <p>
                I built this little corner of the internet to showcase my
                projects and share valuable resources with you.
              </p>
            </span>
            <span class="animate">
              <p>
                Most of these resources focus on <strong
                  >game development</strong
                >, particularly with the
                <Link href="https://godotengine.org/" external
                  >Godot Engine</Link
                >, my go-to technology for building games (and yes, I love it!
                🥰).
              </p>
              <p>
                Feel free to dive in by exploring the <Link href="/projects"
                  >Projects</Link
                >
                and <Link href="/resources">Resources</Link> sections, or check out
                some of the featured content below to get started!
              </p>
            </span>
          </article>
        </section>
        <FeaturedContents
          title="Featured Resources"
          contents={featuredResources}
          collection="resources"
        />
        <FeaturedContents
          title="Featured Projects"
          contents={featuredProjects}
          collection="projects"
        />
        <Contacts />
      </div>
    </aside>
  </Container>
</Layout>
