---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import TableOfContents from "@components/TableOfContents.astro";
import Link from "@components/Link.astro";
import ArrowCard from "@components/ArrowCard.astro";

export async function getStaticPaths() {
  const resources = (await getCollection("resources")).sort(
    (a, b) => a.data.index - b.data.index
  );
  return resources.map((resource) => ({
    params: { id: resource.id },
    props: resource,
  }));
}

const resource = Astro.props;
const id = resource.id as any;
const resourceContents = (await getCollection(id)).sort(
  (a: any, b: any) => a.data.index - b.data.index
);
const { Content, headings } = await render(resource);
---

<Layout title={resource.data.title} description={resource.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/resources">Back to resources</BackToPrevious>
    </div>
    <div class="animate my-10 space-y-1">
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        {resource.data.title}
      </h1>
      <h2>{id}</h2>
    </div>
    {
      resource.data.downloadUrl && (
        <nav class="flex gap-1">
          <strong>Download: </strong>
          {resource.data.downloadUrl.map((download) => (
            <Link href={download.url} external>
              {download.label}
            </Link>
          ))}
        </nav>
      )
    }
    <TableOfContents headings={headings} />
    <article class="animate">
      <Content />
    </article>
    <ul class="animate not-prose flex flex-col gap-4">
      {
        resourceContents.map((content: any) => (
          <li>
            <ArrowCard entry={content} />
          </li>
        ))
      }
    </ul>
  </Container>
</Layout>
