---
import ArrowRight from "../icons/arrow-right.svg";
import clsx from "clsx";
import MediaContent from "./MediaContent.astro";

type Props = {
  entry: {
    collection: string;
    id: string;
    data: {
      title: string;
      description: string;
      media?: {
        src: string;
        alt: string;
      };
    };
  };
  truncate?: boolean;
};

const { entry, truncate = false } = Astro.props as Props;
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class="not-prose group relative flex flex-nowrap rounded-lg border border-black/15 px-4 py-3 pr-10 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
>
  {entry.data.media && <MediaContent media={entry.data.media} />}
  <div
    class={clsx("flex flex-1 flex-col justify-center", truncate && "truncate")}
  >
    <div class="font-semibold text-secondary-light dark:text-secondary-dark">
      {entry.data.title}
    </div>
    <div class="text-sm">
      {entry.data.description}
    </div>
  </div>
  <ArrowRight />
</a>
