---
import ArrowRight from "..//icons/arrow-right.svg";
import clsx from "clsx";
import MediaContent from "./MediaContent.astro";
import type { Media } from "@types";

type Props = {
  entry: {
    collection: string;
    id: string;
    data: {
      title: string;
      description: string;
      media?: Media
    };
  };
  truncate?: boolean;
};

const { entry, truncate = false } = Astro.props as Props;
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class="card with-hover not-prose group relative flex flex-nowrap px-4 py-3 pr-10"
>
  {entry.data.media && <MediaContent media={entry.data.media} />}
  <div
    class={clsx("flex flex-1 flex-col justify-center", truncate && "truncate")}
  >
    <div class="font-semibold text-secondary-light dark:text-secondary-dark">
      {entry.data.title}
    </div>
    <div class="text-sm">
      {entry.data.description}
    </div>
  </div>
  <ArrowRight />
</a>
