---
import { SOCIALS, SITE } from "@consts";
import Link from "./Link.astro";
---

<section class="animate space-y-4">
  <h2 class="font-semibold text-black dark:text-white">Let's Connect</h2>
  <article>
    <p>
      If you want to get in touch with me about something or just to say hi,
      reach out on social media or send me an email.
    </p>
  </article>
  <ul class="not-prose flex flex-wrap gap-2">
    {
      SOCIALS.map((SOCIAL) => (
        <li class="flex gap-x-2 text-nowrap">
          <Link
            href={SOCIAL.HREF}
            external
            aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
          >
            <img
              src={SOCIAL.ICON}
              alt={SOCIAL.NAME}
              class="social-icon size-6"
              title={SOCIAL.NAME}
            />
          </Link>
        </li>
      ))
    }
  </ul>
</section>
