---
import { SOCIALS, SITE } from "@consts";
import Link from "./Link.astro";
import BlueSkyIcon from "..//icons/bluesky.svg";
import MastodonIcon from "..//icons/mastodon.svg";
import GithubIcon from "..//icons/github.svg";
import EmailIcon from "..//icons/email.svg";

const SOCIAL_ICON_SIZE = 26;
---

<section class="animate space-y-4">
  <h2 class="font-semibold text-black dark:text-white">Let's Connect</h2>
  <article>
    <p>
      Have a question, a project idea, or just want to say hi?</br>
      Feel free to reach out! You can connect with me on social media or send me an email using the links below. 
      I'd love to hear from you!
    </p>
  </article>
  <ul class="not-prose flex flex-wrap gap-2">
    {
      SOCIALS.map((SOCIAL) => (
        <li class="flex gap-x-2 text-nowrap" title={SOCIAL.NAME}>
          <Link
            href={SOCIAL.HREF}
            external
            aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
          >
            {SOCIAL.NAME === "BlueSky" ? (
              <BlueSkyIcon size={SOCIAL_ICON_SIZE} />
            ) : SOCIAL.NAME === "Mastodon" ? (
              <MastodonIcon size={SOCIAL_ICON_SIZE} />
            ) : SOCIAL.NAME === "GitHub" ? (
              <GithubIcon size={SOCIAL_ICON_SIZE} />
            ) : SOCIAL.NAME === "Email" ? (
              <EmailIcon size={SOCIAL_ICON_SIZE} />
            ) : null}
          </Link>
        </li>
      ))
    }
  </ul>
</section>
